body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.main-content {
    padding: 150px 250px;
    background-color: #FCFCFC;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #EDEDED;
}
.btnStyle {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:20px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btnStyle:hover {
	background-color:#5cbf2a;
}
.btnStyle:active {
	position:relative;
	top:1px;
}

#answers {
    display: inline-block;
}

#answers > div {
    text-align: left;
}
