<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Entry</title>
</head>
<body>
    <form class="db-entry"method="post" action="">
        <input type="text" placeholder="enter an id" name="id">
        <br>
        <input type="text" placeholder="enter a type" name="type">
        <br>
        <input type="text" placeholder="enter a manufacturer" name="manufacturer">
        <br>
        <input type="text" placeholder="model" name="model">
        <br>
        <input type="text" placeholder="serial" name="serial">
        <br>
        <input type="text" placeholder="issued to" name="issued-to">
        <br>
        <input type="date" placeholder="date issued" name="date-issued">
        <br>
        <input type="date" placeholder="date Purchase" name="date-purchased">
        <br>
        <input type="text" placeholder="accessories" name="accessories">
        <br>
        <input type="text" placeholder="status" name="status">
        <br>
        <input type="text" placeholder="cateogry" name="category">
        <button type="submit">Submit to Database</button>
    </form>
</body>
</html>