{% extends "base.html" %} 
{% block title %} Search DB or DB Entry? {% endblock %}
{% block head %}
{{ super() }}

{% endblock %} 

{% block content %}
<div class="db-entry-container">
  <form method="post" action="" enctype="multipart/form-data" id="dbEntry-form">
    <select name="category_dropdown" id="category_dropdown">
      {% for each in category_dropdown %}
      <option value="{{each}}">{{each}}</option>
      {% endfor %}
    </select>
  
    <div id="category-attributes"></div>
  
    <button type="button" id="dbEntryBtn">SUBMIT</button>
  </form>
</div>

<!-- Javascript for this page -->
<script src="{{url_for('static', filename='js/qrcode.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script>
  var inputs = {{category_definition | safe}};

  function toWords(camel) {
    var result = camel.replace(/([A-Z])/g, " $1");
    var finalResult = result.charAt(0).toUpperCase() + result.slice(1);

    return finalResult;
  }

  function handleCategory(category) {
    var categoryAttributes = document.getElementById("category-attributes");
    categoryAttributes.innerHTML = "";
    var categoryInputs = inputs[category];
    var categoryElements = [];

    for (let i = 0; i < categoryInputs.length; i++) {
      const categoryInput = categoryInputs[i];
      var inputWrapper = document.createElement("div");
      var inputLabel = document.createElement("label");

      inputLabel.innerText = toWords(categoryInput.column);
      

      switch (categoryInput.type) {
        case "string":
        case "link":
          var stringInput = document.createElement("input");
          stringInput.name = categoryInput.column;
          stringInput.type = "text";

          inputWrapper.appendChild(stringInput);
          break;
        case "date":
          var dateInput = document.createElement("input");
          dateInput.name = categoryInput.column;
          dateInput.type = "date";

          inputWrapper.appendChild(dateInput);
          break;
        case "text":
          var textInput = document.createElement("textarea");
          textInput.name = categoryInput.column;
          textInput.rows = 5;
          textInput.cols = 30;

          inputWrapper.appendChild(textInput);
          break;
        case "boolean":
          var booleanInput = document.createElement("input");
          booleanInput.name = categoryInput.column;
          booleanInput.type = "checkbox";

          inputWrapper.appendChild(booleanInput);
          break;

        case "image":
          var fileInput = document.createElement("input");
          fileInput.name = categoryInput.column;
          fileInput.type = "file";

          inputWrapper.appendChild(fileInput);
          break;

        case "qrcode":
          var qrcodeInput = document.createElement("input");
          qrcodeInput.type = "text";
          qrcodeInput.name = categoryInput.column;
          qrcodeInput.style.display = "none";
          inputLabel = null;
          inputWrapper.appendChild(qrcodeInput);
          break;

        default:
          break;
      }

      if (inputLabel) {
        inputWrapper.prepend(inputLabel);
      }

      categoryElements.push(inputWrapper);
    }
    for (let i = 0; i < categoryElements.length; i++) {
      categoryAttributes.appendChild(categoryElements[i]);
    }
  }

  var categoryDropdown = document.getElementById("category_dropdown");
  categoryDropdown.onchange = function () {
    handleCategory(categoryDropdown.value);
  };

  handleCategory(categoryDropdown.value);


  var dbEntryBtn = document.getElementById('dbEntryBtn');
  dbEntryBtn.onclick = function () {
    var idInput = document.querySelector('[name="id"]');
    var barcodeInput = document.querySelector('[name="barcode"]');
    var dbEntryForm = document.getElementById('dbEntry-form');
    var qrCodeImageWrapper = document.createElement("div");
    var qrCodeObj = new QRCode(qrCodeImageWrapper, idInput.value);
    var qrCodeImage = qrCodeImageWrapper.querySelector("img");
    setTimeout(function()
    {
      barcodeInput.value = qrCodeImage.src;
      //console.log(qrCodeImage.src);
      dbEntryForm.submit();
    });
  }
</script>
{% endblock %}
