{% extends "base.html" %} 
{% block title %}Inventory Details{% endblock %} 
{% block head %}
{{ super() }}
{% endblock %} 

<!-- Content For Inventory Details Page -->
{% block content %}
<main>
  <div class="details-wrapper">
    <div class="float-child" id="left-column">
      <div class="info">
        {% for title in left_column.keys() %}
        <div class="left-info">
          <label>{{title}}:</label>
          <span>{{left_column[title] | safe}}</span>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="float-child" id="right-column">
      <div class="info">
        {% for title in right_column.keys() %}
        <div class="right-info">
          <label>{{title}}</label>
          <span>{{right_column[title] | safe}}</span>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock %}
