<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>St.Remy Fire Department</title>
</head>
<body>
    
<div class="container">
    <div class="title">
        <h1>St. Remy Fire Department</h1>
    </div>

    <div class="sub-title">
        <h3>Inventory and Information System</h3>
    </div>

    <form action="" method="POST">
        <div class="register-form">
            <div class="username">
                <label for="username">Enter a Username</label>
                <input name="username" type="text" placeholder="enter username...">
            </div>

            <div class="password">
                <label for="password">Enter a passward</label>
                <input name="password" type="password" placeholder="enter password...">
            </div>
        </div>
        <!-- <button class="register-btn" type="submit">REGISTER</button> -->
    </form>
    <div class="login-page">
        <a href="#">Already have an account? Login!</a>
    </div>
</div>
</body>
</html>