{% extends "base.html" %} 
{% block title %}Search Database{% endblock %} 
{% block head %}
{{ super() }}
{% endblock %} 

<!-- Content For Search Page -->
{% block content %}
<h1><center>What would you like to search?</center></h1>
    <form class="example" method="post" action="" >
      <input type="text" placeholder="Search The Database" name="search" />
      <button type="submit">Submit<i class="fa fa-search"></i>
      </button>
      <div class="select">
        <select name="category_dropdown" id="category_dropdown">
          {% for each in category_dropdown %}
          {% if each == category %}
          <option value="{{each}}" selected="selected">{{each}}</option>
          {% else %}
          <option value="{{each}}">{{each}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </form>
    <div class="results-container">
      <table>
          <tr>
            {% for column in category_definition[category] %}
                <th>{{ column.header }}</th>
            {% endfor %}
          </tr>
        <center>
          
          {% for item in data %}
                <tr>
                  {%for i in range(0, item|length)%}
                  <td>{{ item[i] | safe }}</td>
                  {% endfor %}
                    </br>
                </tr>
          {% endfor %}
        </center>
      </table>
    </div>
{% endblock %}