<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>St. Remy Fire Department</title>
</head>
<body>
    <div class="container">
        <div class="main-content">
            <div class="main-title">
                <h1>St.Remy Fire Department</h1>
            </div>

            <div class="sub-title">
                <h2>Welcome, Firefighter...Would you like to search the database or enter into the database?/h2>
            </div>

            <div class="main-btns">
                <a href="/search" class="btnStyle">Search Database</a>
                <a href="/dbEntry" class="btnStyle">Database Entry</a>
            </div>
        </div>
    </div>
</body>
</html>