  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Database</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/search.css">
  </head>
  <body>
    <h1><center>What would you like to search?</center></h1>
    <form class="example" method="post" action="" >
      <input type="text" placeholder="Search by ID" name="search" />
      <button type="submit"><i class="fa fa-search"></i>
      </button>
      <div class="select">
        <select name="category_dropdown" id="category_dropdown">
          {% for each in category_dropdown %}
          <option value="{{each}}">{{each}}</option>
          {% endfor %}
        </select>
      </div>
    </form>
    <div class="results-container">
      <table>
        <thead>
          <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <center>
          
          {% for item in data %}
                <tr>
                  {%for i in range(0, item|length)%}
                  <td>{{ item[i]|e }}</td>
                  {% endfor %}
                    </br>
                </tr>
          {% endfor %}
        </center>
      </table>
    </div>
  </body>
</html>