  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Database</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/search.css">
  </head>
  <body>
    <h1><center>What would you like to search?</center></h1>
    <form class="example" method="post" action="" >
      <input type="text" placeholder="Search by ID" name="inventory" />
      <button type="submit"><i class="fa fa-search"></i>
      </button>
      <div class="select">
        <select name="categories" class="filter-categories">
          <option value="all">All</option>
          {%for item in category%}
            <option value="{{item[0]}}">{{item[0]}}</option>
          {% endfor %}

         <!--  <option value="all">All</option>
          <option value="Radio">Radios</option>
          <option value="Pager">Pagers</option>
          <option value="Power Supply">Power Supply</option>
          <option value="Personnel">Personnel</option> -->
        </select>
      </div>
    </form>
    <div class="results-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Serial Number</th>
            <th>Issued To</th>
            <th>Date Issued</th>
            <th>Date of Purchase</th>
            <th>Accessories</th>
            <th>Status</th>
            <th>Category</th>
          </tr>
        </thead>
        <center>
          {% for item in data %}
                <tr>
                  {%for i in range(0, item|length)%}
                  <td>{{item[i]}}</td>
                  {% endfor %}
                    </br>
                </tr>
          {% endfor %}
        </center>
      </table>
    </div>

    <script src="/static/js/script.js"></script>
  </body>
</html>